* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 300ms;
}

body {
  background: #F2EBD9;
  color: #222;
}

.banner {
  height: 25vh;
  background: url("img/alfons-morales-YLSwjSy7stw-unsplash.jpg") no-repeat center / cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.main-heading {
  font-size: 48px;
  margin-right: 20px;
}

.btn {
  padding: 10px;
  background: #fff;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(196, 196, 196);
}

.column {
  width: 300px;
  min-height: 300px;
  padding: 10px;
  margin: 0 5px;
}

.column__heading {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding: 10px 0;
}

/* Side Form */

.book-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  margin-top: 20px;
  opacity: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgb(179, 179, 179);
  z-index: 2;
}

.book-form.shown {
  opacity: 1;
}

.btn__close {
  position: absolute;
  top: 20px;
  font-size: 12px;
  right: 20px;
  padding: 5px 10px;
}

.book-form > label {
  margin-bottom: 5px;
}

.book-form > input,
.book-form > select {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
  font-size: 14px;
}

/* Book Card */

.book__card {
  position: relative;
  box-shadow: 0 0 5px 0 rgb(179, 179, 179);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  transition: 200ms;
}

.book__card > * {
  padding: 5px;
}

.btn__delete {
  position: absolute;
  top: 15px;
  font-size: 12px;
  right: 20px;
  padding: 5px 10px;
}

.book__title {
  font-weight: 600;
  font-size: 16px;
  width: 80%;
}

.book__year,
.book__category {
  font-size: 14px;
}

.book__category {
  background: rgb(255, 225, 150);
  width: fit-content;
  border-radius: 3px;
  padding: 5px;
}

.book__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}